version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    volumes:
      - ../src:/app
      - /app/vendor
    environment:
      - XDEBUG_LOAD_MODULE=${XDEBUG_LOAD_MODULE}
      - XDEBUG_MODE=${XDEBUG_MODE}
      - XDEBUG_START_WITH_REQUEST=${XDEBUG_START_WITH_REQUEST}
      - XDEBUG_CLIENT_HOST=${XDEBUG_CLIENT_HOST}
      - XDEBUG_CLIENT_PORT=${XDEBUG_CLIENT_PORT}
      - XDEBUG_IDEKEY=${XDEBUG_IDEKEY}
    networks:
      - default
  db:
    image: docker.io/bitnami/postgresql:14
    ports:
      - 5432:5432
    volumes:
      - postgresql_data:/bitnami/postgresql
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - POSTGRESQL_DATABASE=ffxiv_lodestone
      - POSTGRESQL_PASSWORD=password
    networks:
      - default
volumes:
  postgresql_data:
    driver: local
networks:
  default:
    driver: bridge